@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
    This is the home page of your Blazor application. Feel free to explore and check out my latest article on LinkedIn!
</p>
<div>
<a href="https://www.linkedin.com/feed/update/urn:li:activity:7372640894723772416/" target="_blank" class="btn btn-primary">
    Read My LinkedIn Article: RxJS Subscriptions vs Signals
</a>
</div>
<div>
<a https://mikew194.github.io/rc-dev-portfolio/ target="_blank" class="btn btn-primary">
    My Developer portfolio
</a>
</div>